@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 11.1% 7.1%;
    --foreground: 166 33% 99%;
    --muted: 240 3% 21%;
    --muted-foreground: 136 8% 73%;
    --popover: 166 57% 3%;
    --popover-foreground: 180 39% 100%;
    --card: 240, 7%, 12%;
    --card-foreground: 180 39% 100%;
    --border: 240 3.7% 15.9%;
    --input: 166 11% 10%;
    --primary: 166 67% 88%;
    --primary-foreground: 166 67% 8%;
    --secondary: 136 67% 88%;
    --secondary-foreground: 136 67% 8%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 94% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 166 67% 88%;
    --radius: 0.5rem;
    --badge: 198.8deg 100% 57.45%;
    --chart-1: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-2: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  position: relative;
  min-height: 100vh;
}

/* Add this to your CSS file or inside a <style> tag in your component */

.cover-section {
  position: relative;
  height: 60vh;
  max-height: 600px;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  margin-radius: 2rem;
}

.cover-content {
  z-index: 1;
}

.perspective {
  perspective: 1000px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
