@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 166 61% 100%;
    --foreground: 166 71% 5%;
    --muted: 136 34% 94%;
    --muted-foreground: 136 8% 27%;
    --popover: 0 0% 99%;
    --popover-foreground: 166 71% 4%;
    --card: 0 0% 99%;
    --card-foreground: 166 71% 4%;
    --border: 166 11% 91%;
    --input: 166 11% 91%;
    --primary: 166 67% 88%;
    --primary-foreground: 166 67% 8%;
    --secondary: 136 67% 88%;
    --secondary-foreground: 136 67% 8%;
    --accent: 196 67% 88%;
    --accent-foreground: 196 67% 8%;
    --destructive: 0 94% 26%;
    --destructive-foreground: 0 94% 86%;
    --ring: 166 67% 88%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 166 57% 2%;
    --foreground: 166 33% 99%;
    --muted: 136 34% 6%;
    --muted-foreground: 136 8% 73%;
    --popover: 166 57% 3%;
    --popover-foreground: 180 39% 100%;
    --card: 166 57% 3%;
    --card-foreground: 180 39% 100%;
    --border: 166 11% 10%;
    --input: 166 11% 10%;
    --primary: 166 67% 88%;
    --primary-foreground: 166 67% 8%;
    --secondary: 136 67% 88%;
    --secondary-foreground: 136 67% 8%;
    --accent: 196 67% 88%;
    --accent-foreground: 196 67% 8%;
    --destructive: 0 94% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 166 67% 88%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* nunito-sans-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/nunito-sans-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/nunito-sans-v15-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nunito-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/nunito-sans-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/nunito-sans-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/nunito-sans-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/nunito-sans-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/nunito-sans-v15-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Add this to your CSS file or inside a <style> tag in your component */

.cover-section {
  position: relative;
  height: 60vh;
  max-height: 600px;
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
  margin-radius: 2rem;
}

.cover-content {
  z-index: 1;
}
